
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-style: border-box;
	list-style: none;
}

body{
	font-family: Times new Romans;
	font-family: 'Roboto', sans-serif;
	align-items: center;
	justify-content: center;
	background-color: black;

}
/*---------------------desgin navbar-------------------*/
.navbar{
	background: black;
	height: 90px;
	width: 100%;
}
nav ul{
	float:right;
	margin-right: 10px;

}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 10px;
	padding-left: 10px;
		transition: 1s;
}
nav ul li a{
	color: #ffffff;
	font-size: 17px;
	padding: 6px 50px;
	border-radius: 3px;

}
.active, a:hover{
	background: #ffffff;
	transition: .5s;
	color: black;
}
nav ul li:hover{
	transform: scale(1.3);
	z-index: 2;
	padding-left: 10px;
}
/*---------------------desgin logo-----------------*/
.icon{
	padding: 0 30px;
}

/*---------------------desgin background image---------------------*/
video{
	width: 100%;
	background-repeat: no-repeat;
}
/*---------------------desgin contant-----------------*/
.cover1{
	width: 1100px;
	height: 450px;
	display: flex;
	padding: 40px;
}
.box1{
	width: 750px;
	height: 350px;
	margin: 10px;
	padding: 20px;
	box-shadow: -1px 0 10px #ffffff;	
	transition: 1s;

}
.box1:hover{
	padding-inline: 10px;
	transform: scale(1.1);
	z-index: 2;
}
.img5{
	width: 270px;
	height: 200px;
	padding: 10px;

}
.cover1 h3{
	color: #ffffff;
	padding: 30px;
	text-align: center;
}
.imgH{
	height: 150px;
	width: 250px;
	padding: 10px;
	float:right;
	
	
}
.img5:hover{
	padding-left: 10px;
	background-color: black;
}
.topic{
	font-size: 50px;
	color: #ffffff;
	padding-bottom: 1rem;
	padding: 5px;
	font-style: bold;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	padding: 20px;
}
.text1{
	font-size: 20px;
	color: white;
	padding:10px ;
	font-style: bold;
	transition: 1s;
}
.text1:hover{
	background-color: transparent;
	color:red;
	padding-left: 20px;
	transform: scale(1.1);
	z-index: 2;
}
.con1{
	display: flex;
	flex-wrap: wrap;
}

/*---------------------desgin footer-----------------*/
.container{
	max-width: 1170px;
	margin: auto;
}
footer{
	background-color: #560216;
	padding: 40px 0;
}
footer ul{
	list-style: none;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer-col{
	width: 25%;
	padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: white;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color:black;
	height: 2px;
	box-sizing: border-box;
	width: 50px;

}
.footer-col ul li:not(:last-child){
	margin:-bottom:10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: white;
	text-decoration: 300;
	color:#bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: black;
	padding-left: 10px;
	background-color: #560216;
}
.social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height:30px ;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.social-links a:hover{
	color:#ffffff;
	background-color:black;
	transform: scale(1.3);
	z-index: 2;
}
/*---------------------desgin box content-----------------*/

.cover{
	width: 1100px;
	height: 1200px;
	margin-top: 10px;
	display: flex;

}
.box{
	width: 800px;
	height: 1120px;
	margin: 10px;
	box-shadow: -1px 0 10px #ffffff;	
	transition: 1s;
}
.box:hover{
	padding-inline: 10px;
	transform: scale(1.1);
	z-index: 2;
}
.img4{
	width: 270px;
	height: 200px;
}
.cover h3{
	color: #ffffff;
}
.cover p{
	color: #ffffff;
}
/*---------------------------------------------------------------content page----------------------------------------------------------------*/
.imgcon{
	width: 600px;
	height: 400px;
	padding: 20px;
	margin-left: 400px;
	transition: 1s;
}
.imgcon:hover{
	transform: scale(1.1);
	z-index: 2;
}
.hcon{
	text-align: center;
	padding: 10px;
	font-size: 30px;
	color: #ffffff;
}
.pcon{
	text-align: center;
	padding: 80px;
	font-size: 20px;
	color: #ffffff;
}
/*---------------------------------------------------------------contect-us page----------------------------------------------------------------*/
.contactUs{
	min-height: 100px;
	display: flex;
	justify-content:center;
	align-items: center;
	background: url("https://wallpapercave.com/wp/wp8166595.png")no-repeat center center/cover;
}
.contactUs form{
	width: 670px;
	height: 500px;
	display: flex;
	justify-content: center;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(225, 225, 225, 0.1);
	backdrop-filter: blur(10px);
	flex-wrap: wrap;
	margin: 70px;
}
.contactUs form h4{
	color: #fffff;
	font-weight: 500;
	margin-top: 20px;
	width: 500px;
	text-align: center;
}
.contactUs form input{
	width: 290px;
	height: 40px;
	padding-left: 10px;
	outline: none;
	border:none;
	font-size: 10px;
	margin-bottom: 10px;
	background: none;
	border-bottom: 2px solid #ffffff;
}
.contactUs form input::placeholder{
	color: #ffffff;
}
.contactUs form #lastName,
.contactUs form #mobile{
	margin-left: 20px;
}
.contactUs form h4{
	color: white;
	font-weight: 300;
	width: 600px;
	margin-top: 20px;
}
.contactUs form textarea{
	background:none ;
	border: none;
	border-bottom: 2px solid #ffffff;
	font-weight: 200;
	font-size: 15px;
	padding: 10px;
	outline: none;
	min-width: 600;
	max-width: 600px;
	min-height: 80px;
	max-height: 80px;
}
textarea::webkit-scrollbar{
	width: 1em;

}

textarea::webkit-scrollbar-thumb{
	background-color: rgba(194, 194, 194, 0.713);
}
.contactUs form #button{
	border: none;
	background: #ffffff;
	border-radius: 5px;
	margin-top: 20px;
	font-weight: 600;
	font-size: 20px;
	color: #333;
	width: 100px;
	padding: 0;
	margin-right: 500px;
	margin-bottom: 30px;
	transition: 0.3s;
}
.contactUs form #button:hover{
	opacity: 0.7;

}
/*---------------------------------------------------------------Responsive----------------------------------------------------------------*/
